<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<title>CRUD Pom Bensin</title>
</head>
<body>
	<div ng-app="binarApp" class="container">
		<div ng-controller="MainController" class="row">
			<div class="col-md-8">
				<br><br><br>
				<table class="table table-striped">
					<tr>
						<th>No</th>
						<th>Waktu Transaksi</th>
						<th>Jenis Bahan Bakar</th>
						<th>Banyak(Liter)</th>
						<th>Harga</th>
					</tr>
					<tr ng-repeat="transaction in transactions">
						<td>{{ $index + 1 }}</td>
						<td>{{ transaction.timestamp.toDateString() }}</td>
						<td>{{ transaction.type }}</td>
						<td>{{ transaction.liters }}</td>
						<td>{{ getPrice(transaction) }}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<br><br><br>
				<form>
					<div>
						<label>Jenis Bahan Bakar:</label>
						<select class="form-control" >
							<option>Premium</option>
							<option>Pertalite</option>
							<option>Pertamax</option>
						</select>
					</div>
					<br>
					<div>
						<label>Liter:</label>
						<input class="form-control" type="text" name="liter">
					</div>
					<br>
					<div>
						<label>Harga:</label>
						<input class="form-control" type="text" name="price" disabled>
					</div>
					<br><br>
					<div>
						<button class="btn btn-block btn-primary">BAYAR</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script type="text/javascript" src="./assets/app.js"></script>

</html>